@{
    ViewData["Title"] = "Index";

    bool userCreated = TempData["UserCreated"] as bool? ?? false;
    bool userLogged = TempData["Logged"] as bool? ?? false;
}

<h1>Index</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if( userCreated && !userLogged) {

        <p>L'utilisateur à été créé avec succès.</p>
    }
    else if(userLogged && !userCreated) {

        <p>Vous êtes connecté</p>
    }
    else{

        <p>Erreur de la création de l'utilisateur</p>
    }

</div>