@{
    ViewData["Title"] = "Index";

    bool userCreated = ViewData["UserCreated"] as bool? ?? false;
}

<h1>Index</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if( userCreated) {

        <p>L'utilisateur à été créé avec succès.</p>
    }
    else {

        <p>Bienvenue !</p>
    }

</div>